
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700&family=Raleway:wght@400;500;600;700&display=swap');

@import url("components/container.css");

@import url("components/avatar.css");

@import url("images/profile.jpeg");

@import url("components/button.css");

@import url("components/banner.css");

@import url("components/card.css");




body {
	font-family: 'Playfair Display', serif;
	font-size: 18px;
	margin: 0px;
	background-color: #EED6C4;
	color: #483434;
}

h1; h2; h3 {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}

a {
	text-decoration: none;
}